@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f4f8;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  border-radius: 2px;
}

/* Hover styles */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
}

.side-cart::-webkit-scrollbar {
  width: 0;
}

.bg-home-rounded-first-section::before {
  content: "";
  @apply absolute -left-64 -top-[12rem] h-[1000px] w-[1000px] rounded-full bg-primary;
}

.navlink {
  @apply relative font-semibold capitalize hover:cursor-pointer hover:text-secondary sm:hover:after:scale-x-100;
}

.navlink::after {
  content: "";
  @apply absolute -bottom-[1px] left-0 h-[1.5px] w-full origin-left scale-x-0 transform rounded-md bg-secondary transition duration-200;
}

.section-contact-us::after {
  content: "";
  @apply absolute top-0 h-full w-full bg-accent bg-opacity-70;
}

h1 {
  @apply text-3xl font-bold capitalize text-accent;
}

h3 {
  @apply text-center text-xl text-secondary sm:text-left;
}

.add-to-cart-btn::after {
  content: "";
  @apply absolute -left-[30px] -top-1 h-[1.5px] w-40 -rotate-[25deg] scale-x-0 bg-neutral duration-500;
}

.add-to-cart-btn::before {
  content: "";
  @apply absolute -right-[30px] -bottom-1 h-[1.5px] w-40 -rotate-[24deg] scale-x-0 bg-neutral duration-500;
}